<div class="<%= friend.gender == "nc" ? "white" : friend.gender == "m" ? "blue" : "pink" %>_block_without_corner">
  <div class="title"><%= friend.pseudo %></div>
  <div class="content">
      <%= image_tag friend.avatar.url(:thumb), :width => "80px" %>
      <%= link_to 'Show', user_path(friend) %>
      <%= link_to 'delete', remove_friend_user_path(friend) %>
  </div>
</div>