<% unless flash[:notice] or flash[:alert] %>
  <%= form_for(@friend_request, :url => send_friend_request_path) do |f| %>
    <% if @friend_request.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@friend_request.errors.count, "error") %> prohibited this forum_part from being saved:</h2>

        <ul>
          <% @friend_request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :message %><br />
      <%= f.text_area :message, :rows => "15", :cols => "74" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
