<div class="<%= color %>_block">
  <div class="title"><%= gallery.name %></div>
  <div class="content">
    <% gallery.drawings.limit(4).reverse.each do |m| %>
      <%= image_tag m.url(:thumb) %>
    <% end %>
  </div>
</div>
<div class="<%= color %>_block_footer">
  <div class="block"><div class="link"><%= link_to 'Show & Edit', gallery %> | <%= link_to 'Destroy', delete_gallery_user_path(gallery) %></div></div>
</div>