<div id="form_gallery">
<div class="white_block_without_corner">
  <div class="title"><%= @gallery.name %> : les données</div>
  <div class="content">
    <%= form_for(@gallery) do |f| %>
    <%= format_errors(@gallery) %>

    <div class="field name">
      <%= f.label :name %> <%= f.text_field :name %>
    </div>
    <div class="field keywords">
      <% keywords = @gallery.keywords.split(',') %>
      <%= f.label :keywords %>
      <div class="keywords_list">
        <% App::GalleryKeywords.each do |keyword| %>
          <div class="keyword">
            <%= check_box_tag "keywords[#{keyword}]", keyword , (keywords.include?(keyword))%>
            <%= label_tag "keywords[#{keyword}]", I18n.t("keywords.#{keyword}") %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="field description">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
      
    <div class="actions submit">
      <%= f.submit %>
      <br/><br/>
      <%= button_to 'Destroy', gallery_path(@gallery), :method => :delete %>
    </div>
  <% end %>
  </div>
</div>
</div>


<div class="blue_block_without_corner">
  <div class="title">Ajouter une image</div>
  <div class="content">
    <%= form_for(@media, :html => { :multipart => true } , :url =>{:controller => "galleries", :action => "add_media"}, :method => "post") do |f| %>
      <%= format_errors(@media) %>

      <div class="field image">
        <%= f.label :image %> <%= f.file_field :image %>
        <%= f.submit "ajouter" %>
      </div>
    <% end %>
  </div>
</div>

<%= render :partial => "users/galleries/drawing", :collection => @drawings %>