<h1 class="content_title">Editing News</h1>

<div class="blue_block_without_corner">
  <div class="title">News Form</div>
  <div class="content">
    <%= form_for(@information,:url => {:action => "update", :controller=>"informations"}) do |f| %>
      <%= form_errors! @information %>

      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Show', @ninformation %> |
<%= link_to 'Back', informations_path %>
