<h1>New Information</h1>

<%= form_for(@information,:url => {:action => "create", :controller => "informations"}) do |f| %>
  <%= form_errors! @information %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', informations_path %>
