<div class="<%= color %>_block">
  <div class="title"><%= gallery.name %> (<%= gallery.keywords %>)<span style="float:right;margin-right:10px;">auteur : <%= gallery.user.pseudo %> </span></div>
  <div class="content">
    <% gallery.drawings.limit(6).order("created_at desc").each do |m| %>
      <%= image_tag m.url(:thumb) %>
    <% end %>
  </div>
</div>
<div class="<%= color %>_block_footer">
  <div class="block"><div class="link"><%= link_to 'Show', gallery %></div></div>
</div>