<div class="white_block_without_corner">
  <div class="title">Filtres de recheche</div>
  <div class="content">
    <%= form_for search, :url => galleries_path do |f| %>
      <div class="search_block search_name_contains">
        <%= f.label :name_contains %>
        <%= f.text_field :name_contains %>
      </div>
      <div class="search_block search_user_pseudo_contains">
        <%= f.label :user_pseudo_contains %>
        <%= f.text_field :user_pseudo_contains %>
      </div>
      <div class="search_block search_keywords_contains">
        <%= f.label :keywords_contains %>
        <% App::GalleryKeywords.each do |keyword| %>
          <%= f.label :"keywords_contains_any(#{App::GalleryKeywords.index(keyword)+1})", I18n.t("keywords.#{keyword}") %>
          <%= f.check_box :"keywords_contains_any(#{App::GalleryKeywords.index(keyword)+1})", {}, keyword, "" %>
        <% end %>
      </div>
      <div class="search_block search_buttons">
        <%= f.submit "rechercher" %>
      </div>
    <% end %>
  </div>
</div>