<div id="menu_left">
  <div class="white_block_without_corner">
    <div class="title">Mon compte</div>
    <div class="content">
      <ul>
        <% unless user_signed_in? %>
          <li><%= link_to "Connexion", "/compte/connexion" %></li>
          <li><%= link_to "Inscription", "/compte/inscription" %></li>
        <% else %>
          <li><%= link_to "Déconnexion", "/compte/deconnexion" %></li>
          <li><%= link_to "Mes identifiants", "/compte/mes-donnees-personnelles" %></li>
          <li><%= link_to "Mes dossiers", folders_user_path %></li>
          <li><%= link_to "Mes cours", "" %></li>
          <li><%= link_to "Mes messages", "" %></li>
          <li><%= link_to "Les demande d'amis", friend_requests_user_path %></li>
          <li><%= link_to "Mes amis", friends_user_path %></li>
          <li><%= link_to "Les commentaires", "" %></li>
          <li><%= link_to "Mes sujets", "" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="blue_block_without_corner">
    <div class="title">Galeries</div>
    <div class="content">
      <ul>
        <li><%= link_to "Dessin", folders_path("search[categorie_eq]" => "dessin") %></li>
        <li><%= link_to "Manga", folders_path("search[categorie_eq]" => "manga") %></li>
        <li><%= link_to "Peinture", folders_path("search[categorie_eq]" => "peinture") %></li>
        <li>etc</li>
        <li><%= link_to "Toutes", folders_path %></li>
      </ul>
    </div>
  </div>
  <div class="pink_block_without_corner">
    <div class="title">Aide et Cours</div>
    <div class="content">
      <ul>
        <li><%= link_to "Dessin", "" %></li>
        <li><%= link_to "Manga", "" %></li>
        <li><%= link_to "Peinture", "" %></li>
        <li>etc</li>
        <li><%= link_to "Toutes", "" %></li>
      </ul>
    </div>
  </div>
</div>