<div id="menu_left">
  <div class="white_block_without_corner">
    <div class="title">Mon compte</div>
    <div class="content">
      <ul>
        <% unless user_signed_in? %>
          <li><%= link_to "Connexion", new_user_session_path %></li>
          <li><%= link_to "Inscription", new_user_registration_path %></li>
        <% else %>
          <li><%= link_to "Déconnexion", destroy_user_session_path %></li>
          <li><%= link_to "Mes identifiants", private_datas_user_path %></li>
          <li><%= link_to "Mes galeries", galleries_user_path %></li>
          <li><%= link_to "Mes cours", "" %></li>
          <li><%= link_to "Mes messages", messages_recieved_user_path %></li>
          <li><%= link_to "Les demande d'amis", friend_requests_user_path %></li>
          <li><%= link_to "Mes amis", friends_user_path %></li>
          <li><%= link_to "Les commentaires", "" %></li>
          <li><%= link_to "Mes sujets", "" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="blue_block_without_corner">
    <div class="title">Galeries</div>
    <div class="content">
      <ul>
        <% App::GalleryKeywords.each do |keyword| %>
          <li><%= link_to I18n.t("keywords.#{keyword}"), galleries_path("search[keywords_contains_any(#{App::GalleryKeywords.index(keyword)+1})]" => keyword) %></li>
        <% end %>
        <li><%= link_to "Toutes", galleries_path %></li>
      </ul>
    </div>
  </div>
  <div class="pink_block_without_corner">
    <div class="title">Aide et Cours</div>
    <div class="content">
      <ul>
        <li><%= link_to "Dessin", "" %></li>
        <li><%= link_to "Manga", "" %></li>
        <li><%= link_to "Peinture", "" %></li>
        <li>etc</li>
        <li><%= link_to "Toutes", "" %></li>
      </ul>
    </div>
  </div>
</div>