<!DOCTYPE html>
<html>
<head>
  <title>Dessin</title>
  <%= stylesheet_link_tag :all, :recursive => true, :cache => false %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/ext-core/3.1/ext-core.js' %>
  <%= javascript_include_tag Dir.glob(Rails.root+'public/javascripts/libs/**/*.js').map{|f|  f.gsub([Rails.root,'public/javascripts/'].join('/'), '') }, :cache => true %>
  <%= javascript_include_tag Dir.glob(Rails.root+'public/javascripts/app/**/*.js').map{|f|  f.gsub([Rails.root,'public/javascripts/'].join('/'), '') }, :cache => true %>
  <script type="text/javascript">
    Shadowbox.init();
  </script>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="application">
    <%= render :partial => "shared/application/header" %>
    <%= render :partial => "shared/application/menu_top" %>
    <%= render :partial => "shared/application/menu_left" %>
    <div id="content">
      <%= content_tag :div, notice, :id => "notice" if notice %>
      <%= content_tag :div, alert, :id => "alert" if alert %>
      <%= yield %>
    </div>
    <div id="clear_float"></div>
    <div id="footer"></div>
  </div>
</body>
</html>
