<div class="white_block_without_corner">
  <div class="title"><%= I18n.t("devise.common.sign_up") %></div>
  <div class="content">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <p><%= f.label :pseudo %><br />
        <%= f.text_field :pseudo %></p>

      <p><%= f.label :birth_date %><br />
        <%= f.date_select :birth_date,:order => [:day, :month, :year], :default => (20.days.from_now), :end_year => (Time.now.year - 5), :start_year => (Time.now.year - 60) %></p>

      <p><%= f.label :gender %><br />
        <%= f.select :gender, options_for_select(User::GENDER.map{ |sex| [I18n.t("gender.#{sex}"), sex]}), :width => 20  %></p>

      <p><%= f.label :description %><br />
        <%= f.text_area :description %></p>

      <p><%= f.label :email %><br />
        <%= f.text_field :email %></p>

      <p><%= f.label :password %><br />
        <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></p>

      <p><%= f.submit I18n.t("devise.common.sign_up") %></p>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>